body{
background: linear-gradient(to right, #ffffff 0%, #f3f7f3 100%);
}
table{
	overflow-x:hidden!important;
}
td:first-child{
	font-weight:500;
	width:200px;
}
tr:last-child td{
	/* border:0!important; */
	padding-top:0px;
}
td, th {
    border: none!important;
}
